@model InfrastructureApp.ViewModels.LeaderboardIndexViewModel

<!--
    This view is strongly typed to LeaderboardIndexViewModel.
    The controller is responsible for populating this model before passing it to the view.-->


<h1>Leaderboard</h1>

<!--displays contextual info about how many entries  are currently being shown-->
<p>Top @Model.TopN</p>

@if (Model.Entries.Count == 0)
{
    <p><em>No contributions yet.</em></p>
}
else
{
       <!--
        Bootstrap-styled table used for consistent layout and readability.
        table-striped improves row distinction for scanning rankings.
    -->

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Avatar</th>
                <th>User</th>
                <th>Points</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
@{
    int rank = 1;
}
@foreach (var entry in Model.Entries)
{
    <tr>
        <td>@rank</td>
        <td>
            <div class="leaderboard-avatar-wrap">
                <img src="@entry.AvatarUrl"
                     alt="@entry.UserId's avatar"
                     onerror="this.src='/images/avatar/boy_blue_hair.png';" />
            </div>
        </td>
        <td>@entry.UserId</td>
        <td>@entry.UserPoints</td>
        <td>@entry.UpdatedAtUtc.ToLocalTime().ToString("g")</td>
    </tr>

    rank++;
}

        </tbody>
    </table>
}
